@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ GLOBAL BACKGROUND FIX */
html,
body,
#root {
  background-color: #05060a;
  min-height: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 3s linear infinite;
}

