* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 3s linear infinite;
}

:root {
  --accent: 229 145 115; /* #E59173 */
}
